* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
    background-position: center center;
    background: url('../images/Background2.png') repeat;
}

header {
    z-index: 96;
    width: 100%;
    height: 38%;
    display: grid;
    grid-area: header;
    position: relative;
    grid-template-areas:
        "logo title media1"
        "menu menu menu";
    background-size: cover;
    grid-template-rows: 89.5% 10.5%;
    grid-template-columns: 13.5% 73% 13.5%;
    background-image: url('../images/HeaderBG.png');
}

.logo {
    top: 5%;
    left: 5%;
    width: 75%;
    height: 75%;
    grid-area: logo;
    position: relative;
}

.title {
    height: 60%;
    display: flex;
    padding-left: 8%;
    grid-area: title;
    align-self: center;
    justify-self: center;
}

.logo img {
    width: 100%;
    height: 100%;
}

.media {
    top: 3%;
    right: 1%;
    width: 11.5%;
    opacity: 0.5;
    display: block;
    grid-area: media;
    position: absolute;
    border-radius: 18px;
    background-color: black;
}

.iconM {
    margin-top: 2%;
    margin-left: 1.5%;
    display: inline-flex;
}

.iconM img {
    width: 35px;
    height: 35px;
}

.iconM:first-child {
    margin-left: 3%;
}

.media:hover {
    opacity: 1;
}

.iconM:hover {
    filter: invert(79%) sepia(70%) saturate(2972%) hue-rotate(207deg) brightness(91%) contrast(103%);
}

.menu {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    display: flex;
    grid-area: menu;
    position: absolute;
    padding-bottom: 2%;
    background-color: black;
    justify-content: space-around;
}

.menu ul {
    width: 100%;
    color: white;
    padding-left: 0%;
}

.menu ul li {
    padding-left: 0.3%;
    padding-right: 1.5%;
    display: inline-flex;
}

.menu_text {
    color: white;
    font-size: 150%;
    padding-top: 4%;
    font-family: "Lucida Console", Monaco, monospace;
}

#menuTitle {
    display: none;
    color: white;
    font-size: 120%;
    padding-top: 0%;
    position: absolute;
    font-family: "Lucida Console", Monaco, monospace;
}

.menu_text_p {
    margin-left: -6%;
}

.menu ul li:first-child {
    margin-left: 0.5%;
}

.menu ul li a {
    text-align: center;
    font-weight: lighter;
    text-decoration: none;
    vertical-align: bottom;
}

.menu ul li p {
    margin-bottom: 0%;
}

.iconB {
    width: 30%;
    margin-right: 10%;
}

.mBurger {
    display: none;
}

.svgM {
    display: none;
}

.svgX {
    display: none;
}

.menu>ul>li:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #0050c1;
}

.sub_menu {
    z-index: 97;
    display: none;
}

.menu ul li:hover .sub_menu {
    width: auto;
    display: block;
    margin-top: 1.8%;
    position: absolute;
}

.menu ul li:hover .sub_menu ul {
    width: 120%;
    display: flex;
    margin-top: 5%;
    border-radius: 8px;
    flex-direction: column;
    background-color: black;
}

.cArrow {
    display: none;
}

.iArrow {
    display: none;
}

.menu ul li:hover .sub_menu ul li {
    margin-top: 0.5%;
    align-self: center;
    margin-bottom: 0.5%;
    border-bottom: 1px dotted white;
}

.menu ul li:nth-child(2):hover .sub_menu ul li p {
    padding-left: 5%;
}

.menu ul li:nth-child(2):hover .sub_menu ul li {
    margin-left: -4%;
}

.menu ul li:hover .sub_menu ul li:last-child {
    border-bottom: none;
}

.menu ul li:hover .sub_menu ul li a:hover {
    cursor: pointer;
    color: #0050c1;
}

.menu ul li:hover .sub_menu ul li p:hover {
    cursor: pointer;
    color: #0050c1;
}

.alt_menu {
    z-index: 98;
    display: none;
}

.menu ul li:hover .sub_menu ul li:hover .alt_menu {
    display: block;
    margin-left: 102%;
    position: absolute;
}

.sub_menu a,
.alt_menu a {
    display: flex;
}

.iconC {
    min-width: 15%;
    margin-top: 3%;
    margin-right: 3%;
}

.alt_menu ul {
    width: 120%;
    margin-left: 7%;
    background-color: black;
}

.alt_menu ul li a:hover svg defs #colorMask1 feFlood {
    flood-color: #0050c1;
}

.alt_menu ul li a:hover svg defs #colorMask2 feFlood {
    flood-color: #0050c1;
}

.alt_menu ul li a:hover svg defs #colorMask3 feFlood {
    flood-color: #0050c1;
}

.alt_menu ul li a:hover svg defs #colorMask4 feFlood {
    flood-color: #0050c1;
}

.alt_menu ul li a:hover svg defs #colorMask5 feFlood {
    flood-color: #0050c1;
}

.alt_menu ul li a:hover svg defs #colorMask6 feFlood {
    flood-color: #0050c1;
}

.alt_menu ul li a:hover svg defs #colorMask7 feFlood {
    flood-color: #0050c1;
}

.search {
    top: 12%;
    right: 0.5%;
    width: 16.2%;
    margin-top: 0%;
    position: absolute;
}

.searchBar {
    height: 30px;
    margin-right: 1%;
    font-size: large;
    text-align: center;
    border-radius: 20px;
    border-color: black;
    background-color: silver;
    font-family: "Lucida Console", Monaco, monospace;
}

.searchBar::placeholder {
    opacity: 0.8;
    color: rgb(9, 6, 46);
}

.searchButton {
    width: 75px;
    height: 30px;
    color: black;
    font-size: medium;
    border-radius: 20px;
    font-weight: bolder;
    background-color: gray;
    font-family: "Lucida Console", Monaco, monospace;
}

.searchButton:hover {
    color: white;
    cursor: pointer;
    background-color: #0050c1;
}

content {
    display: grid;
    grid-area: content;
    grid-template-areas:
        ". cenCont ."
        ". cenCont .";
    grid-template-rows: 45% 55%;
    grid-template-columns: 15% 70% 15%;
}

.cenCont {
    display: grid;
    grid-area: cenCont;
    grid-template-areas:
        "carousel carousel"
        "recentCont otherCont";
    grid-template-rows: 30% 70%;
    grid-template-columns: 65% 35%;
}

.carousel {
    top: 10%;
    width: 153.8%;
}

.slidesCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: 3px solid silver;
    background-color: #0050c1;
}

.slideText {
    width: 100%;
    display: flex;
    color: white;
    flex-direction: column;
    border-right: 3px solid silver;
}

.slideTextTitle {
    color: black;
    font-size: 200%;
    padding-top: 5%;
    text-align: center;
    text-decoration: underline;
    border-bottom: 3px solid silver;
    font-family: "Lucida Console", Monaco, monospace;
    background-image: linear-gradient(silver, silver, #0050c1);
}

.slideTextData {
    padding-top: 5%;
    overflow: hidden;
}

.slideTextData p {
    margin-left: 2%;
    font-size: 120%;
    margin-right: 3%;
    text-align: justify;
}

.slideTextData a {
    left: 23%;
    bottom: 1%;
    color: white;
    font-size: 130%;
    position: absolute;
    text-decoration: none;
}

.slideTextData a:hover {
    color: black;
    cursor: pointer;
}

.slideImg {
    width: 70%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.carousel-control-prev {
    width: 10%;
    height: 332%;
    margin-left: 30%;
}

.carousel-control-next {
    width: 10%;
    height: 332%;
}

.recentCont {
    grid-area: recentCont;
}

.otherCont {
    display: grid;
    grid-template-areas:
        "rNewsCont"
        "rReviewsCont"
        "adCont";
    grid-area: otherCont;
    grid-template-columns: 100%;
    grid-template-rows: 35% 35% 30%;
}

.rNewsCont {
    grid-area: rNewsCont;
}

.rReviewsCont {
    grid-area: rReviewsCont;
}

.adCont {
    grid-area: adCont;
}

@media (max-width: 1440px) {

    header {
        grid-template-rows: 85% 15%;
    }

    .media {
        width: 15.5%;
    }

    .search {
        width: 21.5%;
    }
}

@media (max-width: 1024px) {

    .logo {
        width: 100%;
    }

    .title {
        height: 45%;
        margin-left: 15%;
    }

    .media {
        width: 21.5%;
    }

    .search {
        width: 30%;
    }
}

@media (max-width: 768px) {

    header {
        grid-template-rows: 90% 10%;
    }
    
    .logo {
        width: 100%;
    }

    .logo img {
        height: 85%;
        margin-top: 25%;
    }

    .title {
        height: 33%;
        padding-left: 6%;
    }

    .media {
        opacity: 1;
        width: 16%;
    }

    .iconM {
        margin-left: 0%;
    }

    .iconM img {
        width: 18px;
        height: 18px;
        margin-top: 15%;
    }

    .iconM:first-child {
        padding-left: 1.5%;
    }

    .menu ul {
        display: none;
    }

    #menuTitle {
        left: 3.15%;
        display: block;
        padding-left: 1%;
        padding-right: 0.5%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .menu>ul>li:hover {
        cursor: initial;
        border-radius: initial;
        background-color: initial;
    }

    .menu ul li:hover .sub_menu {
        display: none;
    }

    .menu ul li:hover .sub_menu ul {
        display: none;
    }

    .menu ul li:hover .sub_menu ul li {
        display: none;
    }

    .menu ul li:hover .sub_menu ul li:hover .alt_menu {
        display: none;
    }

    .menu ul li:hover .sub_menu ul li:hover .alt_menu ul {
        display: none;
    }

    .menu ul li:hover .sub_menu ul li:hover .alt_menu ul li {
        display: none;
    }

    .alt_menu ul li a:hover svg defs #colorMask1 feFlood {
        flood-color: initial;
    }

    .alt_menu ul li a:hover svg defs #colorMask2 feFlood {
        flood-color: initial;
    }

    .alt_menu ul li a:hover svg defs #colorMask3 feFlood {
        flood-color: initial;
    }

    .alt_menu ul li a:hover svg defs #colorMask4 feFlood {
        flood-color: initial;
    }

    .alt_menu ul li a:hover svg defs #colorMask5 feFlood {
        flood-color: initial;
    }

    .alt_menu ul li a:hover svg defs #colorMask6 feFlood {
        flood-color: initial;
    }

    .alt_menu ul li a:hover svg defs #colorMask7 feFlood {
        flood-color: initial;
    }

    .search {
        top: 15%;
        width: auto;
        display: flex;
    }

    .searchBar {
        height: 20px;
        font-size: medium;
        text-align: center;
        border-radius: 20px;
        border-color: black;
        background-color: silver;
        font-family: "Lucida Console", Monaco, monospace;
    }

    .searchBar::placeholder {
        opacity: 0.8;
        color: rgb(9, 6, 46);
    }

    .searchButton {
        width: 65px;
        height: 20px;
        color: black;
        font-size: small;
        border-radius: 20px;
        font-weight: bolder;
        background-color: gray;
        font-family: "Lucida Console", Monaco, monospace;
    }

    .searchButton:hover {
        color: black;
        cursor: initial;
        background-color: gray;
    }

    .mBurger {
        left: 0%;
        width: 4%;
        z-index: 1;
        height: 100%;
        display: block;
        appearance: none;
        position: absolute;
    }

    .svgM {
        left: 0%;
        display: block;
        position: absolute;
        margin-bottom: 30%;
    }

    .mBurger:checked~.svgM {
        opacity: 0;
    }

    .mBurger:checked~.svgX {
        left: 0%;
        display: block;
        position: absolute;
        margin-bottom: 30%;
        background-color: #0050c1;
    }

    .mBurger:checked~#menuTitle {
        background-color: #0050c1;
    }

    .mBurger:checked~ul {
        top: 95%;
        left: 0%;
        width: 19%;
        display: flex;
        color: white;
        padding-left: 0.5%;
        position: absolute;
        flex-direction: column;
        background-color: #0050c1;
        border-top-right-radius: 10px;
        border-top: 2px solid silver;
        border-bottom-right-radius: 10px;
        border-right: 2px solid silver;
        border-bottom: 2px solid silver;
    }

    .mBurger:checked~ul li {
        margin-right: 5%;
        font-size: small;
        border-bottom: 1px dotted white;
    }

    .mBurger:checked~ul li:last-child {
        border-bottom: none;
    }

    .mBurger:checked~ul li .iconB {
        width: 17%;
        margin-right: 5%;
    }

    .cArrow,
    .iArrow {
        display: block;
        position: absolute;
    }

    #cArr1 {
        right: 1%;
        top: 34.5%;
        opacity: 0;
        z-index: 99;
    }

    #cArr2 {
        right: 5%;
        top: 58.5%;
        opacity: 0;
        z-index: 99;
    }

    #cArr3 {
        top: 45%;
        opacity: 0;
        right: -16%;
        z-index: 99;
    }

    #cArr4 {
        top: 78%;
        opacity: 0;
        right: -16%;
        z-index: 99;
    }

    #cArr5 {
        top: 45%;
        opacity: 0;
        right: -17%;
        z-index: 99;
    }

    #cArr6 {
        top: 77%;
        opacity: 0;
        right: -17%;
        z-index: 99;
    }

    #iArr1 {
        top: 34%;
        right: 0%;
    }

    #iArr2 {
        top: 58%;
        right: 5%;
    }

    #iArr3 {
        top: 43.5%;
        right: -17%;
    }

    #iArr4 {
        top: 77%;
        right: -18%;
    }

    #iArr5 {
        top: 45%;
        right: -19%;
    }

    #iArr6 {
        top: 76.5%;
        right: -19%;
    }

    .iconC {
        min-width: 15%;
        margin-top: 3%;
        margin-right: 3%;
        padding-bottom: 2%;
    }

    #cArr1:checked+#iArr1 {
        fill: black;
    }

    #cArr1:checked~.sub_menu {
        top: 29%;
        left: 102%;
        width: auto;
        margin-top: 0%;
        display: block;
        position: absolute;
    }

    #cArr1:checked~.sub_menu ul {
        width: 120%;
        display: flex;
        margin-top: 0%;
        border-radius: 8px;
        flex-direction: column;
        border: 2px solid silver;
        background-color: #0050c1;
    }

    #cArr1:checked~.sub_menu ul li {
        display: block;
        margin-top: 0.5%;
        align-self: center;
        margin-bottom: 0.5%;
    }

    #cArr1:checked~.sub_menu ul li p {
        padding-left: 5%;
    }

    #cArr1:checked~.sub_menu ul li a {
        margin-left: -5%;
    }

    #cArr1:checked~.sub_menu ul li a:hover {
        cursor: initial;
        color: white;
    }

    #cArr1:checked~.sub_menu ul li p:hover {
        cursor: initial;
        color: white;
    }

    #cArr2:checked+#iArr2 {
        fill: black;
    }

    #cArr2:checked~.sub_menu {
        top: 51.5%;
        left: 102%;
        width: auto;
        margin-top: 0%;
        display: block;
        position: absolute;
    }

    #cArr2:checked~.sub_menu ul {
        width: 120%;
        display: flex;
        margin-top: 0%;
        border-radius: 8px;
        flex-direction: column;
        border: 2px solid silver;
        background-color: #0050c1;
    }

    #cArr2:checked~.sub_menu ul li {
        display: block;
        margin-top: 0.5%;
        align-self: center;
        margin-bottom: 0.5%;
    }

    #cArr2:checked~.sub_menu ul li a {
        margin-left: -5%;
    }

    #cArr2:checked~.sub_menu ul li a:hover {
        color: white;
        cursor: initial;
    }

    #cArr2:checked~.sub_menu ul li p:hover {
        color: white;
        cursor: initial;
    }

    #cArr3:checked+#iArr3 {
        fill: black;
    }

    #cArr3:checked~.alt_menu {
        top: 35%;
        left: 12%;
        width: auto;
        margin-top: 0%;
        display: block;
        margin-left: 102%;
        position: absolute;
    }

    #cArr3:checked~.alt_menu ul {
        width: 120%;
        display: flex;
        margin-top: 0%;
        border-radius: 8px;
        flex-direction: column;
        border: 2px solid silver;
        background-color: #0050c1;
    }

    #cArr3:checked~.alt_menu ul li {
        display: block;
        margin-top: 0.5%;
        margin-left: 5.5%;
        align-self: center;
        margin-bottom: 0.5%;
    }

    #cArr3:checked~.alt_menu ul li a {
        padding-left: 5%;
    }

    #cArr3:checked~.alt_menu ul li:first-child a,
    #cArr3:checked~.alt_menu ul li:last-child a {
        padding-left: 5%;
    }

    #cArr3:checked~.alt_menu ul li a {
        margin-left: -5%;
    }

    #cArr3:checked~.alt_menu ul li a:hover {
        cursor: initial;
        color: white;
    }

    #cArr3:checked~.alt_menu ul li p:hover {
        cursor: initial;
        color: white;
    }

    #cArr4:checked+#iArr4 {
        fill: black;
    }

    #cArr4:checked~.alt_menu {
        top: 65%;
        left: 12%;
        width: auto;
        margin-top: 0%;
        display: block;
        margin-left: 102%;
        position: absolute;
    }

    #cArr4:checked~.alt_menu ul {
        width: 120%;
        display: flex;
        margin-top: 0%;
        border-radius: 8px;
        flex-direction: column;
        border: 2px solid silver;
        background-color: #0050c1;
    }

    #cArr4:checked~.alt_menu ul li {
        display: block;
        margin-top: 0.5%;
        margin-left: 5.5%;
        align-self: center;
        margin-bottom: 0.5%;
    }

    #cArr4:checked~.alt_menu ul li a {
        padding-left: 5%;
    }

    #cArr4:checked~.alt_menu ul li:first-child a,
    #cArr4:checked~.alt_menu ul li:last-child a {
        padding-left: 5%;
    }

    #cArr4:checked~.alt_menu ul li a {
        margin-left: -5%;
    }

    #cArr4:checked~.alt_menu ul li a:hover {
        cursor: initial;
        color: white;
    }

    #cArr4:checked~.alt_menu ul li p:hover {
        cursor: initial;
        color: white;
    }

    #cArr5:checked+#iArr5 {
        fill: black;
    }

    #cArr5:checked~.alt_menu {
        top: 30%;
        left: 12%;
        width: auto;
        margin-top: 0%;
        display: block;
        margin-left: 102%;
        position: absolute;
    }

    #cArr5:checked~.alt_menu ul {
        width: 120%;
        display: flex;
        margin-top: 0%;
        border-radius: 8px;
        flex-direction: column;
        border: 2px solid silver;
        background-color: #0050c1;
    }

    #cArr5:checked~.alt_menu ul li {
        display: block;
        margin-top: 0.5%;
        margin-left: 5.5%;
        align-self: center;
        margin-bottom: 0.5%;
    }

    #cArr5:checked~.alt_menu ul li a {
        padding-left: 5%;
    }

    #cArr5:checked~.alt_menu ul li:first-child a,
    #cArr5:checked~.alt_menu ul li:last-child a {
        padding-left: 5%;
    }

    #cArr5:checked~.alt_menu ul li a {
        margin-left: -5%;
    }

    #cArr5:checked~.alt_menu ul li a:hover {
        cursor: initial;
        color: white;
    }

    #cArr5:checked~.alt_menu ul li p:hover {
        cursor: initial;
        color: white;
    }

    #cArr6:checked+#iArr6 {
        fill: black;
    }

    #cArr6:checked~.alt_menu {
        top: 65%;
        left: 12%;
        width: auto;
        margin-top: 0%;
        display: block;
        margin-left: 102%;
        position: absolute;
    }

    #cArr6:checked~.alt_menu ul {
        width: 120%;
        display: flex;
        margin-top: 0%;
        border-radius: 8px;
        flex-direction: column;
        border: 2px solid silver;
        background-color: #0050c1;
    }

    #cArr6:checked~.alt_menu ul li {
        display: block;
        margin-top: 0.5%;
        margin-left: 5.5%;
        align-self: center;
        margin-bottom: 0.5%;
    }

    #cArr6:checked~.alt_menu ul li a {
        padding-left: 5%;
    }

    #cArr6:checked~.alt_menu ul li:first-child a,
    #cArr6:checked~.alt_menu ul li:last-child a {
        padding-left: 5%;
    }

    #cArr6:checked~.alt_menu ul li a {
        margin-left: -5%;
    }

    #cArr6:checked~.alt_menu ul li a:hover {
        cursor: initial;
        color: white;
    }

    #cArr6:checked~.alt_menu ul li p:hover {
        cursor: initial;
        color: white;
    }
}

@media (max-width: 425px) {

    header{
        grid-template-rows: 85% 15%;
    }

    .logo {
        width: 100%;
    }

    .logo img {
        height: 100%;
        margin-top: 20%;
        margin-left: 10%;
    }

    .title {
        width: 95%;
        margin-top: 5%;
        padding-left: 0%;
        margin-right: 11%;
    }

    .media {
        display: none;
    }

    .search {
        top: 10%;
        width: auto;
        display: flex;
    }

    .searchBar {
        height: 10px;
        width: 100px;
        margin-top: 0.5%;
        text-align: center;
        font-size: xx-small;
        border-radius: 20px;
        border-color: black;
        background-color: silver;
        font-family: "Lucida Console", Monaco, monospace;
    }

    .searchBar::placeholder {
        opacity: 0.8;
        color: rgb(9, 6, 46);
    }

    .searchButton {
        width: 25px;
        height: 10px;
        margin-top: 0.5%;
        color: transparent;
        border-radius: 20px;
        font-weight: initial;
        background-color: gray;
        background-size: 100% 100%;
        background-image: url('../svg/Search.svg');
        font-family: "Lucida Console", Monaco, monospace;
    }

    .searchButton:hover {
        color: black;
        cursor: initial;
        background-color: gray;
    }

    .mBurger {
        left: 0%;
        width: 4%;
        z-index: 1;
        height: 100%;
        display: block;
        appearance: none;
        position: absolute;
    }

    .svgM {
        left: 0%;
        width: 14px;
        height: 14px;
        display: block;
        position: absolute;
        margin-bottom: 30%;
    }

    .mBurger:checked~.svgM {
        opacity: 0;
    }

    .mBurger:checked~.svgX {
        left: 0%;
        width: 14px;
        height: 14px;
        display: block;
        position: absolute;
        margin-bottom: 30%;
        background-color: #0050c1;
    }

    .menu_text {
        color: white;
        font-size: 75%;
        padding-top: 4%;
        font-family: "Lucida Console", Monaco, monospace;
    }

    #menuTitle {
        left: 2.9%;
        font-size: 60%;
        padding-left: 1%;
    }

    .iconB {
        width: 10%;
        margin-right: 10%;
    }

    .mBurger:checked~ul {
        top: 90%;
        left: 0%;
        width: 18%;
        display: flex;
        color: white;
        padding-left: 0.5%;
        position: absolute;
        flex-direction: column;
        background-color: #0050c1;
        border-top-right-radius: 10px;
        border-top: 2px solid silver;
        border-bottom-right-radius: 10px;
        border-right: 2px solid silver;
        border-bottom: 2px solid silver;
    }

    #cArr1 {
        right: 1%;
        top: 32%;
        width: 9px;
        height: 9px;
    }

    #cArr2 {
        right: 5%;
        top: 58.5%;
        width: 9px;
        height: 9px;
    }

    #cArr3 {
        top: 43%;
        width: 9px;
        right: -16%;
        height: 9px;
    }

    #cArr4 {
        top: 75%;
        width: 9px;
        right: -16%;
        height: 9px;
    }

    #cArr5 {
        top: 42.5%;
        width: 9px;
        right: -17%;
        height: 9px;
    }

    #cArr6 {
        top: 75.5%;
        width: 9px;
        right: -17%;
        height: 9px;
    }

    #iArr1 {
        top: 32%;
        right: 0.5%;
        width: 9px;
        height: 9px;
    }

    #iArr2 {
        top: 58%;
        right: 5%;
        width: 9px;
        height: 9px;
    }

    #iArr3 {
        top: 42%;
        width: 9px;
        right: -17%;
        height: 9px;
    }

    #iArr4 {
        top: 75%;
        width: 9px;
        right: -18%;
        height: 9px;
    }

    #iArr5 {
        top: 42.5%;
        width: 9px;
        right: -18%;
        height: 9px;
    }

    #iArr6 {
        top: 75.5%;
        width: 9px;
        right: -18%;
        height: 9px;
    }

    .iconC {
        width: 12px;
        height: 12px;
        margin-right: 4%;
    }

    #cArr1:checked~.sub_menu {
        top: 23%;
        left: 105%;
    }

    #cArr2:checked~.sub_menu {
        top: 51.5%;
        left: 105%;
    }

    #cArr5:checked~.alt_menu {
        left: 14%;
    }
}