* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
    background-position: center center;
    background: url('../images/Background2.png') repeat;
}

.header {
    width: 100%;
    height: 38%;
    position: absolute;
}

.banner {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/Header.png');
}

.media {
    top: 3%;
    right: 1%;
    width: auto;
    height: auto;
    opacity: 0.5;
    display: block;
    position: absolute;
    border-radius: 30px;
    background-color: black;
}

.iconM {
    width: 19%;
    height: 1%;
    margin-top: 2%;
    margin-left: 2.75%;
    display: inline-flex;
}

.iconM img {
    width: 35px;
    height: 35px;
}

.media:hover {
    opacity: 1;
}

.iconM:hover {
    filter: invert(79%) sepia(70%) saturate(2972%) hue-rotate(207deg) brightness(91%) contrast(103%);
}

.menu {
    width: 100%;
    height: 11%;
    opacity: 0.9;
    bottom: -0.5%;
    display: block;
    position: absolute;
    background-color: black;
    
}

.menu ul {
    width: 100%;
    color: white;
    margin-top: 0.3%;
    list-style: none;
    display: inline-flex;
}

.menu ul li {
    margin-left: 1%;
    padding-left: 0.3%;
    padding-right: 0.8%;
    display: inline-flex;
}

.menu ul li a {
    color: white;
    font-size: 150%;
}

.menu ul li:first-child {
    margin-left: 0.2%;
}

.menu ul li a {
    text-align: center;
    font-weight: lighter;
    text-decoration: none;
    vertical-align: bottom;
}

.iconB {
    margin-right: 10%;
}

.menu ul li:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #0050c1;
}

.sub_menu {
    display: none;
}

.menu ul li:hover .sub_menu {
    display: block;
    margin-top: 1.5%;
    position: absolute;
}

.menu ul li:hover .sub_menu ul {
    display: flex;
    width: max-content;
    border-radius: 8px;
    flex-direction: column;
    background-color: black;
}

.menu ul li:hover .sub_menu ul li {
    margin-left: 0%;
    margin-top: 0.5%;
    align-self: center;
    margin-bottom: 0.5%;
    border-bottom: 1px dotted white;
}

.menu ul li:hover .sub_menu ul li:last-child {
    border-bottom: none;
}

.menu ul li:hover .sub_menu ul li a:hover {
    cursor: pointer;
    color: #0050c1;
    background-color: black;
}

.alt_menu {
    display: none;
}

.menu ul li:hover .sub_menu ul li:hover .alt_menu {
    display: block;
    margin-left: 100%;
    position: absolute;
}

.iconC {
    margin-right: 10%;
}

.menu ul li:hover .sub_menu ul li:hover .alt_menu ul {
    width: max-content;
    background-color: black;
}

.alt_menu ul li a:hover svg defs #colorMask1 feFlood {
    flood-color: #0050c1;
}

.alt_menu ul li a:hover svg defs #colorMask2 feFlood {
    flood-color: #0050c1;
}

.alt_menu ul li a:hover svg defs #colorMask3 feFlood {
    flood-color: #0050c1;
}

.alt_menu ul li a:hover svg defs #colorMask4 feFlood {
    flood-color: #0050c1;
}

.alt_menu ul li a:hover svg defs #colorMask5 feFlood {
    flood-color: #0050c1;
}

.alt_menu ul li a:hover svg defs #colorMask6 feFlood {
    flood-color: #0050c1;
}

.alt_menu ul li a:hover svg defs #colorMask7 feFlood {
    flood-color: #0050c1;
}

.buscador {
    right: 0.5%;
    top: 9%;
    position: absolute;
}

.barra_busqueda {
    height: 30px;
    font-size: large;
    text-align: center;
    border-radius: 20px;
    border-color: black;
    background-color: gray;
    font-family: "Lucida Console", Monaco, monospace;
}

.barra_busqueda::placeholder {
    color: rgb(9, 6, 46);
    opacity: 0.8;
}

.boton_busqueda {
    width: 75px;
    height: 30px;
    color: black;
    font-size: medium;
    border-radius: 20px;
    font-weight: bolder;
    background-color: gray;
    font-family: "Lucida Console", Monaco, monospace;
}

.boton_busqueda:hover {
    color: white;
    cursor: pointer;
    background-color: #0050c1;
}

.footer {
    bottom: 0%;
    height: 5%;
    width: 100%;
    position: absolute;
    overflow: hidden hidden;
    background-color: rgb(43, 43, 43);
}

.disclaimer {
    width: 35%;
    height: 100%;
}

.disclaimer p {
    opacity: 0.5;
    color: white;
    margin-left: 2%;
    padding-top: 0.5%;
}

.contactanos {
    left: 35%;
    bottom: 0%;
    width: 25%;
    height: 100%;
    text-align: center;
    position: absolute;
}

.contactanos a {
    opacity: 0.5;
    color: white;
    font-size: larger;
    font-weight: bolder;
    font-family: "Lucida Console", Monaco, monospace;
}

.contactanos a:hover {
    opacity: 1;
    cursor: pointer;
    color: #0050c1;
}

.formulario {
    top: 41%;
    left: 37%;
    width: 25%;
    display: block;
    position: absolute;
    border-radius: 15px;
    background-color: #0050c1;
}

.formulario p {
    display: flex;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    font-weight: bolder;
    flex-direction: column;
    text-decoration: underline;
    font-family: "Lucida Console", Monaco, monospace;
}

.formulario p:first-child {
    margin-top: 5%;
}

.formulario p input {
    margin-top: 1.5%;
    margin-bottom: 5%;
    border-radius: 8px;
    text-align: center;
}

.formulario p textarea {
    margin-top: 1.5%;
    margin-bottom: 7%;
    border-radius: 5px;
}

#envioC {
    right: 2%;
    bottom: 0.9%;
    position: absolute;
    font-weight: bolder;
}

#envioC:hover {
    cursor: pointer;
}