* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
    background-position: center center;
    background: url('../images/Background2.png') repeat;
}

header {
    width: 100%;
    height: 38%;
    gap: 0px 0px;
    display: grid;
    grid-area: header;
    position: relative;
    grid-template-areas:
        "logo title media1"
        "menu menu menu";
    background-size: cover;
    grid-template-rows: 100%;
    grid-template-columns: 13.5% 73% 13.5%;
    background-image: url('../images/HeaderBG.png');
}

.logo {
    top: 5%;
    left: 5%;
    width: 75%;
    height: 75%;
    position: relative;
}

.title {
    height: 60%;
    display: flex;
    align-self: center;
    justify-self: center;
}

.logo img {
    width: 100%;
    height: 100%;
}

.media {
    top: 3%;
    right: 1%;
    width: 11.5%;
    opacity: 0.5;
    display: block;
    position: absolute;
    border-radius: 18px;
    background-color: black;
}

.iconM {
    margin-top: 2%;
    margin-left: 1.5%;
    display: inline-flex;
}

.iconM img {
    width: 35px;
    height: 35px;
}

.iconM:first-child {
    margin-left: 3%;
}

.media:hover {
    opacity: 1;
}

.iconM:hover {
    filter: invert(79%) sepia(70%) saturate(2972%) hue-rotate(207deg) brightness(91%) contrast(103%);
}

.menu {
    bottom: 0%;
    width: 100%;
    height: 11%;
    opacity: 0.9;
    display: flex;
    position: absolute;
    padding-bottom: 2%;
    background-color: black;
    justify-content: space-around;
}

.menu ul {
    width: 100%;
    color: white;
    padding-left: 0%;
}

.menu ul li {
    padding-left: 0.3%;
    padding-right: 1.5%;
    display: inline-flex;
}

.menu_text {
    color: white;
    font-size: 150%;
    padding-top: 4%;
    font-family: "Lucida Console", Monaco, monospace;
}

.menu ul li:first-child {
    margin-left: 0.5%;
}

.menu ul li a {
    text-align: center;
    font-weight: lighter;
    text-decoration: none;
    vertical-align: bottom;
}

.iconB {
    width: 30%;
    margin-right: 10%;
}

.mBurger {
    display: none;       
}

.svgM {
    display: none;
}

.svgX {
    display: none;
}

.menu > ul > li:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #0050c1;
}

.sub_menu {
    display: none;
}

.menu ul li:hover .sub_menu {
    z-index: 2;
    width: auto;
    display: block;
    margin-top: 2%;
    position: absolute;
}

.menu ul li:hover .sub_menu ul {
    display: flex;
    margin-top: 5%;
    padding-left: 8%;
    padding-right: 5%;
    width: max-content;
    border-radius: 8px;
    flex-direction: column;
    background-color: black;
}

.menu ul li:hover .sub_menu ul li {
    margin-top: 0.5%;
    align-self: center;
    margin-bottom: 0.5%;
    border-bottom: 1px dotted white;
}

.menu ul li:hover .sub_menu ul li:last-child {
    border-bottom: none;
}

.menu ul li:hover .sub_menu ul li a:hover {
    cursor: pointer;
    color: #0050c1;
    background-color: black;
}

.alt_menu {
    display: none;
}

.menu ul li:hover .sub_menu ul li:hover .alt_menu {
    z-index: 3;
    display: block;
    margin-left: 102%;
    position: absolute;
}

.sub_menu a,
.alt_menu a {
    display: flex;
}

.iconC {
    min-width: 15%;
    margin-top: 3%;
    margin-right: 3%;
}

.menu ul li:hover .sub_menu ul li:hover .alt_menu ul {
    width: min-content;
    padding-right: 10%;
}

.alt_menu ul li a:hover svg defs #colorMask1 feFlood {
    flood-color: #0050c1;
}

.alt_menu ul li a:hover svg defs #colorMask2 feFlood {
    flood-color: #0050c1;
}

.alt_menu ul li a:hover svg defs #colorMask3 feFlood {
    flood-color: #0050c1;
}

.alt_menu ul li a:hover svg defs #colorMask4 feFlood {
    flood-color: #0050c1;
}

.alt_menu ul li a:hover svg defs #colorMask5 feFlood {
    flood-color: #0050c1;
}

.alt_menu ul li a:hover svg defs #colorMask6 feFlood {
    flood-color: #0050c1;
}

.alt_menu ul li a:hover svg defs #colorMask7 feFlood {
    flood-color: #0050c1;
}

.buscador {
    top: 12%;
    right: 0.5%;
    position: absolute;
}

.barra_busqueda {
    height: 30px;
    font-size: large;
    text-align: center;
    border-radius: 20px;
    border-color: black;
    background-color: silver;
    font-family: "Lucida Console", Monaco, monospace;
}

.barra_busqueda::placeholder {
    opacity: 0.8;
    color: rgb(9, 6, 46);
}

.boton_busqueda {
    width: 75px;
    height: 30px;
    color: black;
    font-size: medium;
    border-radius: 20px;
    font-weight: bolder;
    background-color: gray;
    font-family: "Lucida Console", Monaco, monospace;
}

.boton_busqueda:hover {
    color: white;
    cursor: pointer;
    background-color: #0050c1;
}

@media (max-width: 768px) {

    .logo {
        width: 100%;
    }

    .logo img {
        height: 85%;
        margin-top: 25%;
    }

    .title {
        height: 33%;
        padding-left: 17%;
    }

    .media {
        width: 16.5%;
    }

    .iconM {
        margin-left: 0%;
    }
    
    .iconM img {
        width: 18px;
        height: 18px;
        margin-top: 15%;
    }
    
    .iconM:first-child {
        padding-left: 1.5%;
    }

    .menu ul {
        display: none;
    }

    .buscador {
        display: none;
    }

    .mBurger {
        left: 0%;
        width: 4%;
        z-index: 1;
        border: none;
        height: 100%;
        display: block;
        position: absolute;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .svgM {
        left: 0%;
        display: block;
        position: absolute;
        margin-bottom: 30%;
    }

    .mBurger:hover  ~ .svgM{
        background-color: #0050c1;
    }

    .mBurger:checked ~ .svgM {
        opacity: 0;
    }

    .mBurger:checked ~ .svgX {
        left: 0%;
        display: block;
        position: absolute;
        margin-bottom: 30%;
        background-color: #0050c1;
    }
    
    .mBurger:checked ~ ul {
        top: 90%;
        left: 0%;
        width: 17%;
        display: flex;
        color: white;
        padding-left: 0.5%;
        position: absolute;
        flex-direction: column;
        background-color: #0050c1;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .mBurger:checked ~ ul li {
        margin-right: 5%;
        font-size: small;
        border-bottom: 1px dotted white;
    }

    .mBurger:checked ~ ul li:last-child {
        border-bottom: none;
    }

    .mBurger:checked ~ ul li .iconB {
        width: 17%;
        margin-right: 5%;
    }
}