//Utilidades
/*Importamos las variables principales y el Reset*/
@import './utilities/colors';
@import './utilities/fonts';
@import './utilities/reset';

//Sections
/*Estructura base del cuerpo del sitio*/
@import './sections/body';
/*Se crea el Header que estará en todo el sitio*/
@import './sections/header';
/*Se crea el Footer que estará en todo el sitio*/
@import './sections/footer';
/*Estructura de la página principal*/
@import './sections/homePage';
/*Estructura de la sección de Artículos*/
@import './sections/articlesPage';
/*Estructura de la sección de Artículo*/
@import './sections/articlePage';
/*Estructura de la sección 'Nosotros'*/
@import './sections/usPage';
/*Estructura de la sección 'Contacto'*/
@import './sections/contactPage';

/*Reestructuración por tamaños*/
@media (max-width: 1440px) {

    header {
        grid-template-rows: 85% 15%;
    }

    .iconM {
        img {
            width: 25px;
            height: 25px;
        }
    }

    .menu ul li:hover .subMenu {
        ul {
            margin-top: 9%;
        }
    }

    .mediaF {
        margin-top: 0%;
        margin-left: 25%;

        a {
            img {
                width: 40px;
                height: 40px;
            }
        }
    }

    .cenCont {
        grid-template-rows: 25% 75%;
    }

    .carousel {
        .slidesCont {
            .slideText {
                .slideTextTitle {
                    font-size: 170%;
                }

                .slideTextData {
                    p {
                        font-size: 90%;
                    }

                    a {
                        left: 25%;
                    }
                }
            }
        }
    }

    .carousel-control-prev {
        height: 85%;
        margin-top: 0%;
    }

    .carousel-control-next {
        height: 85%;
        margin-top: 0%;
    }

    .recentCont {
        margin-top: 0%;
    }

    .otherCont {
        margin-top: 0%;
    }

    .rReviewsCont {
        margin-top: 20%;
    }

    .adCont {
        margin-top: 20%;

        a {
            img {
                height: 85%;
            }
        }
    }

    .articlesCont {

        .rReviewsCont {
            margin-top: 12%;
        }

        .adCont {
            margin-top: 10% !important;
        }
    }

    .formSend {
        left: 40%;
    }

    .articleCont {
        .mainArt {
            .mainArtTxt {
                font-size: 73%;
            }
        }

        .otherCont {
            .rReviewsCont {
                margin-top: 15%;
            }

            .adCont {
                margin-top: 15%;
            }
        }
    }
}

@media (max-width: 1024px) {

    .logo {
        width: 100%;
    }

    .title {
        height: 45%;
        margin-left: 13%;
    }

    .media {
        width: 100%;
    }

    .iconM {
        img {
            width: 20px;
            height: 20px;
        }
    }

    .menu ul li:hover .subMenu {
        ul {
            margin-top: 15%;
        }
    }

    .disclaimer {
        font-size: 75%;
        align-items: center;
    }

    .mediaF {
        margin-left: 0%;

        a {
            img {
                width: 40px;
                height: 40px;
            }
        }
    }

    main {
        grid-template-columns: 10% 80% 10%;

        .cenCont {
            grid-template-rows: 22% 78%;
        }
    }

    .carousel {
        .slidesCont {
            .slideText {
                .slideTextTitle {
                    font-size: 170%;
                }

                .slideTextData {
                    p {
                        font-size: 90%;
                    }

                    a {
                        left: 23%;
                        font-size: 120%;
                    }
                }
            }
        }
    }

    .carousel-control-prev {
        height: 90%;
    }

    .carousel-control-next {
        height: 90%;
    }

    .recentCont {
        margin-top: 5%;
    }

    .otherCont {
        margin-top: 8%;
    }

    .rReviewsCont {
        margin-top: 0%;
    }

    .newsList,
    .revList {
        font-size: 85%;
    }

    .adCont {
        height: 85%;
        margin-top: 0%;
    }

    .articleCont {
        .mainArt {
            .mainArtTitle {
                font-size: 200%;
            }

            .mainArtTxt {
                font-size: 60%;
            }
        }

        .otherCont {
            .rReviewsCont {
                margin-top: 30%;
            }

            .adCont {
                margin-top: 25%;
            }
        }
    }

    .usPage {
        .usText {
            p {
                font-size: 105%;
            }
        }
    }

    .formCont {
        grid-template-columns: 10% 80% 10%;

        .form {
            width: 75%;
            margin-left: 15%;
        }
    }
}

@media (max-width: 768px) {
    header {
        grid-template-rows: 80% 20%;
    }

    .logo {
        top: 5%;
        width: 100%;

        img {
            height: 90%;
            margin-top: 20%;
        }
    }

    .title {
        height: 40%;
        padding-left: 6%;
    }

    .media {
        opacity: 1;
        width: 100%;
    }

    .iconM {
        margin-left: 0%;

        img {
            width: 15px;
            height: 15px;
            margin-top: 15%;
        }

        &:first-child {
            padding-left: 1.5%;
        }
    }

    .menu ul {
        display: none;
    }

    .menu {
        ul {
            li {
                &:nth-child(2):hover .subMenu ul li {
                    margin-left: 0;
                }
            }
        }
    }

    .menuTitle {
        height: 100%;
        display: block;
        font-size: 150%;
        padding-left: 3%;
        padding-right: 0.5%;
        align-content: center;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .menu {
        >ul>li:hover {
            cursor: initial;
            border-radius: initial;
            background-color: initial;
        }

        ul li:hover .subMenu {
            display: none;

            ul {
                display: none;

                li {
                    display: none;

                    &:hover .altMenu {
                        display: none;

                        ul {
                            display: none;

                            li {
                                display: none;
                            }

                            a:hover {
                                color: white !important;
                            }
                        }
                    }

                    a:hover,
                    label:hover {
                        color: white !important;
                    }
                }
            }
        }
    }

    .altMenu ul li a:hover svg defs {

        #colorMask1 feFlood,
        #colorMask2 feFlood,
        #colorMask3 feFlood,
        #colorMask4 feFlood,
        #colorMask5 feFlood,
        #colorMask6 feFlood,
        #colorMask7 feFlood {
            flood-color: initial;
        }
    }

    .searchBar {
        height: 35px;
        margin-right: 1%;
        font-size: large;
    }

    .searchButton {
        width: 75px;
        height: 35px;
        font-size: medium;

        &:hover {
            color: black;
            cursor: initial;
            background-color: gray;
        }
    }

    .mBurger {
        display: flex;
        position: absolute;
    }

    #mBurgerT {
        left: 0%;
        width: 50px;
        opacity: 0;
        z-index: 1;
        height: 100%;
    }

    .svgM {
        left: 0%;
        display: block;
        position: absolute;
        margin-bottom: 30%;
    }

    .mBurger:checked~ {
        .svgM {
            opacity: 0;
        }

        .svgX {
            left: 0%;
            display: block;
            position: absolute;
            margin-bottom: 30%;
            background-color: $manaBlue;
        }

        .menuTitle {
            background-color: $manaBlue;
        }

        ul {
            top: 95%;
            left: 0%;
            width: 18%;
            display: flex;
            color: white;
            padding-left: 0.5%;
            position: absolute;
            flex-direction: column;
            background-color: $manaBlue;
            border-top-right-radius: 10px;
            border-top: 2px solid silver;
            border-bottom-right-radius: 10px;
            border-right: 2px solid silver;
            border-bottom: 2px solid silver;

            li {
                margin-right: 5%;
                font-size: small;
                border-bottom: 1px dotted white;

                &:last-child {
                    border-bottom: none;
                }

                .iconB {
                    width: 17%;
                    margin-right: 5%;
                }
            }
        }
    }

    .selector {
        display: flex;
        position: absolute;
    }

    #selector1 {
        right: 1%;
        top: 34.5%;
        opacity: 0;
        z-index: 99;
    }

    #selector2 {
        right: 5%;
        top: 58.5%;
        opacity: 0;
        z-index: 99;
    }

    #selector3 {
        top: 45%;
        opacity: 0;
        right: -16%;
        z-index: 99;
    }

    #selector4 {
        top: 78%;
        opacity: 0;
        right: -16%;
        z-index: 99;
    }

    #selector5 {
        top: 45%;
        opacity: 0;
        right: -17%;
        z-index: 99;
    }

    #selector6 {
        top: 77%;
        opacity: 0;
        right: -17%;
        z-index: 99;
    }

    .iconC {
        min-width: 15%;
        margin-top: 3%;
        margin-right: 3%;
        padding-bottom: 2%;
    }

    #selector1:checked~.subMenu {
        top: 29%;
        left: 100%;
        width: auto;
        margin-top: 0%;
        display: block;
        position: absolute;

        ul {
            width: 120%;
            display: flex;
            margin-top: 0%;
            border-radius: 8px;
            flex-direction: column;
            border: 2px solid silver;
            background-color: $manaBlue;

            li {
                display: block;
                margin-top: 0.5%;
                align-self: center;
                margin-bottom: 0.5%;

                p {
                    padding-left: 5%;
                }

                a {
                    margin-left: -5%;

                    &:hover {
                        cursor: initial;
                        color: white;
                    }
                }

                p:hover {
                    cursor: initial;
                    color: white;
                }
            }
        }
    }

    #selector2:checked~.subMenu {
        top: 51.5%;
        left: 100%;
        width: auto;
        margin-top: 0%;
        display: block;
        position: absolute;

        ul {
            width: 120%;
            display: flex;
            margin-top: 0%;
            border-radius: 8px;
            flex-direction: column;
            border: 2px solid silver;
            background-color: $manaBlue;

            li {
                display: block;
                margin-top: 0.5%;
                align-self: center;
                margin-bottom: 0.5%;

                a {
                    margin-left: -5%;

                    &:hover {
                        color: white;
                        cursor: initial;
                    }
                }

                p:hover {
                    color: white;
                    cursor: initial;
                }
            }
        }
    }

    #selector3:checked~.altMenu {
        top: 35%;
        left: 17%;
        width: auto;
        margin-top: 0%;
        display: block;
        margin-left: 102%;
        position: absolute;

        ul {
            width: 120%;
            display: flex;
            margin-top: 0%;
            border-radius: 8px;
            flex-direction: column;
            border: 2px solid silver;
            background-color: $manaBlue;

            li {
                display: block;
                margin-top: 0.5%;
                margin-left: 5.5%;
                align-self: center;
                margin-bottom: 0.5%;

                a,
                &:first-child a,
                &:last-child a {
                    padding-left: 5%;
                }

                a {
                    margin-left: -5%;

                    &:hover {
                        cursor: initial;
                        color: white;
                    }
                }

                p:hover {
                    cursor: initial;
                    color: white;
                }
            }
        }
    }

    #selector4:checked~.altMenu {
        top: 65%;
        left: 17%;
        width: auto;
        margin-top: 0%;
        display: block;
        margin-left: 102%;
        position: absolute;

        ul {
            width: 120%;
            display: flex;
            margin-top: 0%;
            border-radius: 8px;
            flex-direction: column;
            border: 2px solid silver;
            background-color: $manaBlue;

            li {
                display: block;
                margin-top: 0.5%;
                margin-left: 5.5%;
                align-self: center;
                margin-bottom: 0.5%;

                a,
                &:first-child a,
                &:last-child a {
                    padding-left: 5%;
                }

                a {
                    margin-left: -5%;

                    &:hover {
                        cursor: initial;
                        color: white;
                    }
                }

                p:hover {
                    cursor: initial;
                    color: white;
                }
            }
        }
    }

    #selector5:checked~.altMenu {
        top: 30%;
        left: 17%;
        width: auto;
        margin-top: 0%;
        display: block;
        margin-left: 102%;
        position: absolute;

        ul {
            width: 120%;
            display: flex;
            margin-top: 0%;
            border-radius: 8px;
            flex-direction: column;
            border: 2px solid silver;
            background-color: $manaBlue;

            li {
                display: block;
                margin-top: 0.5%;
                margin-left: 5.5%;
                align-self: center;
                margin-bottom: 0.5%;

                a,
                &:first-child a,
                &:last-child a {
                    padding-left: 5%;
                }

                a {
                    margin-left: -5%;

                    &:hover {
                        cursor: initial;
                        color: white;
                    }
                }

                p:hover {
                    cursor: initial;
                    color: white;
                }
            }
        }
    }

    #selector6:checked~.altMenu {
        top: 65%;
        left: 17%;
        width: auto;
        margin-top: 0%;
        display: block;
        margin-left: 102%;
        position: absolute;

        ul {
            width: 120%;
            display: flex;
            margin-top: 0%;
            border-radius: 8px;
            flex-direction: column;
            border: 2px solid silver;
            background-color: $manaBlue;

            li {
                display: block;
                margin-top: 0.5%;
                margin-left: 5.5%;
                align-self: center;
                margin-bottom: 0.5%;

                a,
                &:first-child a,
                &:last-child a {
                    padding-left: 5%;
                }

                a {
                    margin-left: -5%;

                    &:hover {
                        cursor: initial;
                        color: white;
                    }
                }

                p:hover {
                    cursor: initial;
                    color: white;
                }
            }
        }
    }

    .disclaimer {
        font-size: 65%;
    }

    .mediaF {
        margin-left: 5%;

        a {
            img {
                width: 30px;
                height: 30px;
            }
        }
    }

    .cenCont {
        grid-template-rows: 25% 75%;
    }

    .carousel {
        .slidesCont {
            .slideText {
                .slideTextTitle {
                    font-size: 130%;
                }

                .slideTextData {
                    p {
                        font-size: 60%;
                    }

                    a {
                        left: 23%;
                        font-size: 80%;
                    }
                }
            }
        }
    }

    .carousel-control-prev {
        height: 100%;
    }

    .carousel-control-next {
        height: 100%;
    }

    .recentCont {
        margin-top: 10%;
    }

    .rArtTitle {
        font-size: 200%;
    }

    .rArtTxt {
        a {
            font-size: 100%;
        }

        p {
            font-size: 50%;
        }
    }

    .otherCont {
        margin-top: 17%;
    }

    .newsList,
    .revList {
        font-size: 55%;
    }

    .rReviewsCont {
        margin-top: 13%;
    }

    .adCont {
        height: 85%;
        margin-top: 10%;
    }

    .articleCont {
        .mainArt {
            grid-template-rows: 30% 5% 65%;

            .mainArtTitle {
                font-size: 150%;
            }

            .mainArtTxt {
                font-size: 50%;

                p {
                    margin-bottom: 0%;
                }
            }
        }

        .otherCont {
            .rReviewsCont {
                margin-top: 30%;
            }

            .adCont {
                margin-top: 25%;
            }
        }
    }

    .usPage {
        .usText {
            h1 {
                font-size: 200%;
            }

            p {
                font-size: 80%;
            }
        }
    }

    .articlesCont {

        grid-template-areas:
            ". leftCont ."
            ". leftCont .";
        grid-template-rows: 50% 50%;
        grid-template-columns: 10% 80% 10%;

        .otherCont {
            display: none;
        }
    }

    .formText {
        font-size: 75%;
    }
}

@media (max-width: 576px) {
    .logo {
        img {
            height: 100%;
            margin-top: 10%;
            margin-left: 10%;
        }
    }

    .title {
        width: 95%;
        margin-top: 0%;
        padding-left: 10%;
        margin-right: 10%;
    }

    .media {
        display: none;
    }

    .search {
        top: 10%;
        display: flex;
    }

    .searchBar {
        height: 12px;
        width: 100px;
        margin-top: 0%;
        font-size: xx-small;
    }

    .searchButton {
        width: 25px;
        height: 12px;
        margin-top: 0.5%;
        color: transparent;
        border-radius: 20px;
        font-weight: initial;
        background-size: 100% 100%;
        background-image: url('../svg/Search.svg');
    }

    .menuTitle {
        font-size: 80%;
        padding-left: 2%;
    }

    .mBurger {
        display: flex;
        position: absolute;
    }

    .svgM {
        left: 0%;
        width: 17px;
        display: block;
        position: absolute;
        margin-bottom: 30%;
    }

    .mBurger:checked~ {
        .svgM {
            opacity: 0;
        }

        .svgX {
            left: 0%;
            width: 17px;
            display: block;
            position: absolute;
            margin-bottom: 30%;
            background-color: $manaBlue;
        }

        ul {
            top: 100%;
            width: 17%;
        }
    }

    .menuText {
        color: white;
        font-size: 75%;
        padding-top: 4%;
        font-family: $mainFont;
    }

    .iconB {
        width: 10%;
        margin-right: 10%;
    }

    #selector1 {
        right: 1%;
        top: 32%;
        width: 9px;
        height: 9px;
    }

    #selector2 {
        right: 5%;
        top: 58.5%;
        width: 9px;
        height: 9px;
    }

    #selector3 {
        top: 43%;
        width: 9px;
        right: -16%;
        height: 9px;
    }

    #selector4 {
        top: 75%;
        width: 9px;
        right: -16%;
        height: 9px;
    }

    #selector5 {
        top: 42.5%;
        width: 9px;
        right: -17%;
        height: 9px;
    }

    #selector6 {
        top: 75.5%;
        width: 9px;
        right: -17%;
        height: 9px;
    }

    .iconC {
        width: 12px;
        height: 12px;
        margin-right: 4%;
    }

    #selector1:checked~.subMenu,
    #selector2:checked~.subMenu {
        left: 100%;
    }

    #selector3:checked~.altMenu {
        top: 30%;
        left: 15%;
    }

    #selector4:checked~.altMenu,
    #selector5:checked~.altMenu,
    #selector6:checked~.altMenu {
        left: 15%;
    }

    .disclaimer {
        font-size: 10%;
        text-align: left;
        overflow: hidden;
    }

    .contactUs {
        font-size: 75%;
    }

    .mediaF {
        align-items: center;

        a {
            img {
                width: 15px;
                height: 15px;
            }
        }
    }

    main {
        grid-template-areas:
            "cenCont"
            "cenCont";
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;
    }

    .cenCont {
        grid-template-areas:
            "carousel"
            "recentCont";
        grid-template-rows: 30% 70% !important;
        grid-template-columns: 100%;
    }

    .carousel {
        .slidesCont {
            .slideText {
                .slideTextTitle {
                    font-size: 100%;
                }

                .slideTextData {
                    p {
                        font-size: 50%;
                    }

                    a {
                        left: 18%;
                        font-size: 65%;
                    }
                }
            }
        }
    }

    .carousel-control-prev {
        height: 90%;
    }

    .carousel-control-next {
        height: 90%;
    }

    .recentCont {
        margin-top: 0%;
    }

    .rArtTitle {
        font-size: 100%;
    }

    .rArtTxt {
        a {
            font-size: 60%;
        }

        p {
            font-size: 25%;
        }
    }

    .otherCont {
        display: none;
    }

    .recentPost {

        a {
            text-decoration: none;

            h3 {
                font-size: 70% !important;
            }
        }

        p {
            font-size: 50%;
        }
    }

    .articleCont {
        grid-template-areas:
            "mainArt";
        grid-template-rows: 100%;
        grid-template-columns: 100%;
    }

    .usPage {
        grid-template-areas:
            "usImage"
            "usText";
        grid-template-columns: 100%;

        .usImage {
            width: 95%;
            height: 95%;
            margin-left: 2.5%;
        }

        .usText {
            margin-top: 2%;
            margin-bottom: 5%;

            h1 {
                font-size: 150%;
            }

            p {
                font-size: 60%;
            }
        }
    }

    .formCont {
        grid-template-areas:
            "form";
        grid-template-columns: 100%;

        .form {
            width: 75%;
            margin-left: 15%;
        }
    }

    .formSend {
        left: 37%;
    }
}